# Ignore node_modules in the client directory
/client/node_modules/

# Ignore .env files in the client directory
/client/*.env

# Ignore .env for sentry configuration
/client/.env.sentry-build-plugin

# Ignore dist folder
/client/dist

# Ignore node_modules in the server directory
/server/node_modules/

# Ignore .env files in the server directory
/server/*.env

/server/*.log

*.txt