# Ignore node_modules in the client directory
/client/node_modules/

# Ignore .env files in the client directory
/client/.env*

# Except env examples
!/client/.env*.example

# Ignore dist folder
/client/dist

# Ignore node_modules in the server directory
/server/node_modules/

# Ignore .env files in the server directory
/server/*.env

/server/*.log

*.txt