=channel-mobile
    @media (max-width: $breakpoint-mobile)
        position: absolute
        top: 0
        left: 300%
        z-index: 100
        transition: left 0.20s ease-in-out
        overflow: hidden
        &.channel-section-mob
            left: 0%
        .channel-container
            position: relative
            .channel-nav
                .channel-nav-info-container
                    margin-right: 0
                    .channel-nav-header
                        margin: 0
                        width: 8rem   
                        font-family: 'Open Sans', sans-serif
                        font-weight: 300
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                .channel-back-to-home-button
                    background-color: transparent
                    border: none
                    display: flex
                    align-items: center
                    justify-content: center
                .nav-button-container
                    margin-left: auto
                    transition: opacity 0.2s ease-in-out
                    &.nav-button-container-0
                        opacity: 0
                        pointer-events: none
                    .channel-to-member-button
                        background-color: transparent
                        border: none
                        display: flex
                        justify-content: center
                        align-items: center
            .channel-members-section
                .member-list
                    .member-container
                        &.member-popup
                            .member-popup-container
                                display: none
                    
            .message-section
                .message-box
                    padding: 0 0.5rem 0.5rem 0.5rem
                    .user-message-info-container
                        .message-info
                            .message-content-container
                                width: 10rem 
                            .message-date-displayname
                                .message-date
                                    font-size: 0.6rem !important
                .message-input-container
                    padding: 0 2rem 1rem 2rem!important
            //members
            .channel-members-section
                position: absolute
                left: 100%
                top: 0
                height: 100% 
                width: 100% !important
                padding: 3rem 0.15rem 0.5rem 0
                @include scroll($scroll-color: rgb(68, 83, 106), $w: 0.2rem)
                overflow-y: scroll
                transition: left 0.2s ease-in-out
                &.mob-member-visible
                    left: 0%
                .member-list
                    flex: 1
                    overflow-x: visible
                    margin: 1rem 2rem 0.5rem 2rem
                    border-radius: 1rem
                    padding: 0.5rem 0
                    background-color: #26324064
                    .member-container
                        padding: 0 1rem
                        .member-popup-button
                            width: 100%
                            display: flex
                            align-items: center
                            background-color: transparent
                            border: none
                            column-gap: 0.8rem
                            .member-name
                                font-size: 0.9rem
                                font-family: 'Roboto', sans-serif
                                pointer-events: none
                            .member-more
                                margin-left: auto


                                


                


=channel-desktop
    @media (min-width: $breakpoint-laptop + 1)
        .channel-container
            display: flex
            flex: 1
            .channel-nav
                justify-content: flex-end
                .channel-back-to-home-button
                    display: none
                .channel-nav-info-container
                    margin-right: auto
                    .channel-nav-header
                        margin: 0   
                        font-family: 'Open Sans', sans-serif
                        font-weight: 300
                .nav-button-container
                    .channel-to-member-button
                        display: none
            .message-section
                padding-right: 0.2rem
                .message-box
                    padding: 0 2rem 2rem 2rem
                    @include scroll($scroll-color:rgb(81, 84, 110), $w: 0.4rem)
                    &::-webkit-scrollbar-track
                        background-color: rgb(46, 53, 68)
                    .user-message-info-container
                        .message-info
                            .message-content-container
                                width: 22rem
            .channel-members-section
                width: 13rem
                padding: 2rem 0.15rem 0.5rem 0
                flex-shrink: 0
                height: 100vh
                .member-list
                    flex: 1
                    overflow-y: scroll
                    overflow-x: visible
                    margin:0
                    margin-top: 0.5rem
                    @include scroll($scroll-color: transparent, $w: 0.3rem)
                    &:hover
                        &::-webkit-scrollbar-thumb
                            background-color: rgb(68, 83, 106)
                    .member-container
                        .member-popup-button
                            background-color: transparent
                            cursor: pointer
                            border: none
                            width: 100%
                            height: 100%
                            display: flex
                            align-items: center
                            column-gap: 0.8rem
                            .member-name
                                font-size: 1.1rem
                                font-family: 'Roboto', sans-serif
                                pointer-events: none
                            .member-more
                                display: none
        .modal-window-container
            @include modal-container
            .channel-modal
                @include modal($border-radius: 0.25rem)
                .channel-modal-button-container
                    @include modal-button-container
            .invite-modal-container
                @include modal($border-radius: 0.25rem)
                .invite-modal-friend-list
                    margin-top: 1.5rem
                    height: 20rem
                    box-shadow: inset 0px 10px 10px 1px #00000078
                    position: relative
                    .invite-user-err
                        position: absolute
                        bottom: 100%
                        font-size: 0.7rem
                        font-family: 'Open Sans', sans-serif
                        color: $error-message
                    .invite-friend-list-containter
                        padding: 0.5rem 1rem
                        display: flex
                        flex-direction: column
                        height: 100%
                        overflow: auto
                        @include scroll($scroll-color: rgb(81, 84, 110), $w: 0.2rem)
                        .invite-friend-info
                            display: flex
                            justify-content: start
                            width: 100%
                            align-items: center
                            margin: 0.2rem 0
                            .friend-invite-display-name
                                font-family: 'Raleway', sans-serif
                                font-size: 1.1rem
                            img
                                width: 1.8rem
                                height: 1.8rem
                                object-fit: cover
                                margin-right: 0.5rem
                                border-radius: 0.9rem
                        .friend-invite-button-err
                            margin-left: auto
                            border: 0
                            background-color: transparent
                            border: 1px solid rgb(180, 50, 50) 
                            font-family: 'Raleway', sans-serif
                            font-size: 0.8rem
                            font-weight: bold
                            width: 3.5rem
                            padding: 0.4rem
                            transition: background-color 0.15s ease-in
                            cursor: pointer
                            display: flex
                            align-items: center
                            justify-content: center
                            &:hover
                                background-color: rgb(180, 50, 50) 
                            .invite-user-loading
                                @include loading(0, 30px)
                        .friend-invite-button
                            margin-left: auto
                            border: 0
                            background-color: transparent
                            border: 1px solid rgb(31, 128, 41)
                            font-family: 'Raleway', sans-serif
                            font-size: 0.8rem
                            font-weight: bold
                            width: 3.5rem
                            padding: 0.4rem
                            transition: background-color 0.15s ease-in
                            cursor: pointer
                            display: flex
                            align-items: center
                            justify-content: center
                            &:hover
                                background-color: rgb(31, 128, 41)
                            .invite-user-loading
                                @include loading(0, 30px)
        
.channel-section
    width: 100%
    height: 100%
    +channel-mobile
    +channel-desktop
    .channel-container
        width: 100%
        background-color: $secondary-bg
        position: relative
        .channel-nav
            min-height: 2.5rem
            width: 100%
            background-color: $secondary-bg
            height: max-content
            padding: 0.25rem 0.5rem
            display: flex
            align-items: center
            margin-bottom: auto
            position: absolute
            top: 0
            box-shadow: 1px 1px 1px 1px #0000007b
            z-index: 101
            .channel-nav-info-container
                display: flex
                align-items: center
                column-gap: 0.5rem
                margin-left: 0.5rem
                .channel-nav-photo
                    width: 2rem
                    height: 2rem
                    border-radius: 1rem
                    object-fit: cover
            .nav-button-container
                display: flex
                .nav-button
                    background-color: transparent
                    width: 2rem
                    height: 2rem
                    border: none
                    cursor: pointer
                    display: flex
                    justify-content: center
                    align-items: center
                    position: relative
                    &.last-nav-button
                        .channel-nav-button-tooltip
                            right: -15%
                    .channel-nav-button-tooltip
                        position: absolute
                        padding: 0.35rem
                        background-color: #1d222d
                        opacity: 0
                        display: flex
                        justify-content: center
                        align-items: center
                        transition: opacity 0.2s ease-in
                        top: 120%
                        height: fit-content
                        z-index: 1   
                        border-radius: 0.15rem
                        pointer-events: none
                    .channel-nav-button-tooltip-text
                        font-family: 'Open Sans', sans-serif
                        font-size: 0.6rem
                        width: 4rem
                    svg
                        align-self: center
                        width: 100%
                        height: 100%
                    &:hover > svg
                        fill: $white-text
                    &:hover > .channel-nav-button-tooltip
                        opacity: 1
                        pointer-events: auto
                            
        //messages
        .message-section
            width: 100%
            height: 100vh
            display: flex
            flex-direction: column
            justify-content: end
            .message-box
                overflow-y: scroll
                width: 100%
                height: 100%
                max-height: 100%
                margin-top: auto
                display: flex
                flex-direction: column-reverse
                margin-top: 2.5rem
                .user-message-info-container
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    margin: 0.5rem 0
                    column-gap: 0.5rem
                    .sender-photo
                        width: 2.3rem
                        height: 2.3rem
                        min-width: 2.3rem
                        border-radius: 1.15rem
                        object-fit: cover
                        align-self: flex-start
                        margin-top: 0.2rem
                    .message-info
                        display: flex
                        flex-direction: column
                        .message-content-container
                            display: flex
                            flex-direction: column
                            .message-content
                                margin: 0.1rem 0       
                                font-family: 'Open Sans', sans-serif
                                font-size: 1rem
                                font-weight: 300
                                word-break: break-word
                                width: fit-content
                                max-width: 100%
                                background-color: #2a3748
                                padding: 0.4rem
                        .message-date-displayname
                            display: flex
                            align-items: baseline
                            justify-content: flex-start                
                            .message-sender
                                font-size: 1.1rem
                                margin-right: 0.3rem
                                font-family: 'Open Sans', sans-serif
                            .message-date
                                font-family: 'Open Sans', sans-serif
                                font-size: 0.7rem
                                color: rgb(134, 134, 134)
                //my message
                .my-message-info-container
                    display: flex
                    justify-content: flex-end
                    align-items: center
                    margin: 0.5rem 0
                    column-gap: 0.5rem
                    .sender-photo
                        order: 2
                        width: 2.3rem
                        height: 2.3rem
                        border-radius: 1.15rem
                        object-fit: cover
                        align-self: start
                        margin-top: 0.2rem
                    .message-info
                        align-items: flex-end
                        order: 1
                        display: flex
                        flex-direction: column
                        .message-date-displayname
                            .message-sender
                                order: 2
                                margin: 0
                            .message-date
                                order: 1
                                margin-right: 0.3rem
                        .message-content-container
                            align-items: flex-end
            //input
            .message-input-container
                width: 100%
                display: flex
                background-color: $secondary-bg
                justify-content: center
                align-items: flex-end
                padding: 0 7rem 1rem 7rem
                textarea
                    width: 100%
                    background-color: $primary-bg
                    border: none
                    font-family: 'Open Sans', sans-serif
                    padding: 0.5rem 1rem
                    border-radius: 0.3rem
                    font-size: 0.8rem
                    resize: none
                    &:focus
                        outline: none
                    &::placeholder
                        font-size: 0.8rem
                        font-family: 'Bellefair', serif                   
        //members 
        .channel-members-section
            display: flex
            flex-direction: column
            background-color: #1c2331
            .member-list

                .member-container
                    height: 3rem
                    //friend-channel-member
                    &.friend-member-container
                        display: flex
                        align-items: center
                        column-gap: 0.8rem
                        .member-profile-status
                            position: relative  
                            padding: 0.05rem
                            .member-profile-photo
                                height: 2rem
                                width: 2rem
                                object-fit: cover
                                border-radius: 1rem
                            .member-status
                                left: 1.2rem
                                top: 1.4rem
                                position: absolute
                                width: 0.8rem
                                height: 0.8rem
                                border-radius: 0.4rem
                                border: 0.2rem solid $secondary-bg
                        .member-name
                            font-size: 1.1rem
                            font-family: 'Raleway', sans-serif
                            pointer-events: none
                    //group-channel-member
                    &.member-popup
                        position: relative
                        &:hover
                            background-color: #2c3440
                        .member-popup-container
                            z-index: 100000
                            height: fit-content
                            position: absolute
                            background-color: #1b232e
                            box-shadow: 1px 3px 10px 4px #0000007f
                            overflow: hidden
                            width: 6.7rem
                            z-index: 1
                            display: flex
                            flex-direction: column
                            border-radius: 0.5rem
                            .popup-member-info-container
                                height: 3rem
                                display: flex
                                align-items: center
                                padding: 0.5rem
                                img
                                    min-width: 2rem
                                    width: 2rem
                                    height: 2rem
                                    border-radius: 1rem
                                    object-fit: cover
                                    margin-right: 0.5rem
                                .popup-member-info
                                    display: flex
                                    flex-direction: column
                                    .popup-member-name
                                        font-size: 0.8rem
                                        font-family: 'Raleway', sans-serif
                                    .popup-member-friend-tag
                                        font-size: 0.6rem
                                        font-family: 'Open Sans', sans-serif

                                
                            button
                                font-family: 'Open Sans', sans-serif
                                font-size: 0.7rem
                                background: transparent
                                border: none
                                cursor: pointer
                                padding: 0.2rem 0.5rem
                            .req-sent-text
                                text-align: center
                                padding: 0.2rem 0.5rem
                                font-size: 0.7rem
                                font-family: 'Open Sans', sans-serif
                                cursor: default
                            .member-accept-friend-request
                                color: #14d31eca
                                &:hover
                                    background-color: #14d31eca
                                    color: white
                            .member-decline-friend-request
                                color: $error-message
                                &:hover
                                    background-color: $error-message
                                    color: white
                            .member-add-friend
                                &:hover
                                    background-color: #2e3b4db7
                            .member-unfriend-button
                                color: $error-message
                                &:hover
                                    background-color: $error-message
                                    color: white
                            .member-message-link
                                text-align: center
                                color: $white-text
                                text-decoration: none
                                width: 100%
                                font-family: 'Open Sans', sans-serif
                                font-size: 0.7rem
                                padding: 0.2rem 0.5rem
                                cursor: pointer
                                &:hover
                                    background-color: #2e3b4db7
                            .member-set-leader
                                &:hover
                                    background-color: #2e3b4db7
                    .member-popup-button
                        .member-profile-status
                            position: relative
                            padding: 0.05rem
                            .member-profile-photo
                                height: 2rem
                                width: 2rem
                                border-radius: 1rem
                                object-fit: cover
                            .member-status
                                left: 1.2rem
                                top: 1.4rem
                                position: absolute
                                width: 0.8rem
                                height: 0.8rem
                                border-radius: 0.4rem
                                border: 0.2rem solid $secondary-bg

