
#Optional: Set to production in prod
NODE_ENV=development
PORT=1234

# Client URLs (replace with your domains)
CLIENT_URL_DEV=http://localhost:3000
CLIENT_URL_PROD=https://yourdomain.com
SUB_CLIENT_URL_PROD=https://www.yourdomain.com
EMAIL_CLIENT_DOMAIN_DEV=localhost:3000
EMAIL_CLIENT_DOMAIN_PROD=yourdomain.com
SERVER_SUB_DOMAIN_PROD=https://api.yourdomain.com


# Access and Refresh Tokens (note: refresh token's expiration should be more than the access token.)
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRES_IN=your_acess_token_expiration # ex, "10m" for 10  minutes
ACCESS_COOKIE_EXPIRES_IN=your_access_token_cookie_expiration # ex, 20 for 20 minutes

REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRES_IN=your_refresh_token_expiration
REFRESH_COOKIE_EXPIRES_IN=your_access_token_cookie_expiration

PERMIT_COOKIE_DOMAIN=.yourdomain.com # where you want your cookie to be accessible.

# MONGODB
DATABASE_PASSWORD=your_mongoDB_password
DATABASE_USERNAME=your_mongoDB_username
DATABASE=your_mongoDB_connection_string

# Redis
REDIS_HOST=your_redis_host
REDIS_PASSWORD=your_redis_password
REDIS_PORT=your_redist_port

ALLOW_REDIS_FLUSH_ON_RESTART=bool

# AWS
AWS_REGION=your_AWS_region
BUCKET_NAME=your_s3_bucket_name
BUCKET_REGION=your_s3_region

# Get these from AWS IAM Console
ACCESS_KEY=your_IAM_access_key
SECRET_ACCESS_KEY=your_IAM_secret

# Cloudwatch
CLOUDWATCH_ERROR_LOG_GROUP_NAME=your_error_log_cloudwatch_name
CLOUDWATCH_ERROR_LOG_STREAM=your_error_log_cloudwatch_stream

CLOUDWATCH_INFO_LOG_GROUP_NAME=your_info_log_cloudwatch_name
CLOUDWATCH_INFO_LOG_STREAM=your_info_log_cloudwatch_stream


# Cloudfront
CLOUDFRONT_DOMAIN_NAME=your_cloudfront_domain

# For email delivery platform i.e Mailtrap
EMAIL_USERNAME=your_username
EMAIL_PASSWORD=your_password
EMAIL_HOST=your_host
EMAIL_PORT=your_email_delivery_port

# Transactional email i.e noreply@exampl.com
EMAIL_FROM=your_transactional_email

# Mailjet
MAILJET_API_KEY=your_mailjet_api_key
MAILJET_API_SECRET=your_mailjet_api_secret