.auth-page-container
    position: relative
    background: rgb(4,12,20)
    background: linear-gradient(169deg, rgba(4,12,20,1) 0%, rgba(31,40,52,1) 100%, rgba(255,240,0,1) 100%, rgba(25,26,29,1) 100%)
    @media (min-width: $breakpoint-mobile + 1px)
        width: 100vw
        height: 100vh
        @media (max-height: 600px)
            height: 600px !important
    @media (max-width: $breakpoint-mobile + 0.99)
        width: 100vw
        min-height:100vh
        min-height:100dvh
