@use '../variable' as variables
@use "../mixin" as mixins   

@mixin register-page($input-width, $register-container-w, $register-container-h, $button-width, $header-size-mult)
    @if $register-container-w == 100vw and $register-container-h == 100vh
        display: flex
        align-items: center
        flex-direction: column
        padding-top: 8rem
        height: $register-container-h
        height: 100dvh
        width: $register-container-w
        @media (max-height: 700px)
            height: 700px !important
    @else
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        height: fit-content
        width: $register-container-w
        padding: 2rem 0
        border-radius: 0.2rem
        box-shadow: 0 8px 10px 5px rgb(0, 0, 0, 0.25)
        position: absolute
        left: 50%
        top: 10%
        transform: translate(-50%, -50%)
        opacity: 0
        transition: top 0.35s ease, opacity 0.35s ease
    &.visible
        top: 50%
        opacity: 1
    .register-header
        font-size: calc( 1.8rem * $header-size-mult )
        font-family: 'Raleway', sans-serif
        font-weight: 800
        text-align: center
        margin: 0
        margin-bottom: 0.5rem
    .register-form-container
        display: flex
        justify-content: center
        align-items: center
        .register-form
            display: flex
            flex-direction: column
            align-items: center
            .input-container
                @include mixins.input($w: $input-width)
            button
                border-radius: 4px
                background-color: #37404d
                color: #ffffffcd
                width: $button-width
                height: 2rem
                border-style: none
                transition: background-color 0.15s ease-in-out
                margin-top: 1rem
                cursor: pointer
                display: flex
                justify-content: center
                align-items: center
                &:active
                    background-color: rgb(51, 59, 69)
                &:hover
                    background-color: transparent
                .register-loading
                    @include mixins.loading(0, 30px)
    .already-have-an-account-text
        color: white
        font-size: 0.6rem
        font-family: 'Raleway', sans-serif
        font-weight: 200
        margin-top: 0.35rem
        display: block
        text-align: center
    .log-in-link
        text-decoration: none
        font-size: 0.7rem
        color: rgb(54, 142, 200)
        &:hover
            text-decoration: underline


=register-page-mobile
    @media (max-width: variables.$breakpoint-mobile)
        @include register-page($input-width: 17rem, $register-container-w: 100vw, $register-container-h: 100vh, $button-width: 10rem, $header-size-mult: 0.7)

=register-page-tablet
    @media (min-width: variables.$breakpoint-mobile + 1px) and (max-width: variables.$breakpoint-tablet)    
        @include register-page($input-width: 16rem, $register-container-w: 22rem, $register-container-h: 0, $button-width: 10rem, $header-size-mult: 0.8)

=register-page-laptop
    @media (min-width: variables.$breakpoint-tablet+ 1px) and (max-width: variables.$breakpoint-laptop)
        @include register-page($input-width: 16rem, $register-container-w: 22rem, $register-container-h: 0, $button-width: 10rem, $header-size-mult: 0.9)

=register-page-desktop
    @media (min-width: variables.$breakpoint-laptop + 1px )
        @include register-page($input-width: 21rem, $register-container-w: 25rem, $register-container-h: 0, $button-width: 10rem, $header-size-mult: 1)
        
    
.register-container
    background-color: #1f2834a8
    +register-page-mobile
    +register-page-tablet
    +register-page-laptop
    +register-page-desktop