@mixin reset-password($input-width, $login-container-w, $login-container-h, $button-width, $header-size-mult)
    @if $login-container-w == 100vw and $login-container-h == 100vh
        display: flex
        align-items: center
        flex-direction: column
        padding-top: 2rem
        background: rgb(4,12,20)
        padding-top: 5rem
        background: linear-gradient(169deg, rgba(4,12,20,1) 0%, rgba(31,40,52,1) 100%, rgba(255,240,0,1) 100%, rgba(25,26,29,1) 100%)
        height: $login-container-h
        height: 100dvh
        width: $login-container-w
    @else
        position: absolute
        left: 50%
        top: 20%
        transform: translate(-50%, -50%)
        height: $login-container-h
        width: $login-container-w
        border-radius: 0.2rem
        box-shadow: 0 8px 10px 5px rgb(0, 0, 0, 0.25)
        opacity: 0
        transition: top 0.35s ease, opacity 0.35s ease
    &.visible
        top: 50%
        opacity: 1
    .reset-password-form
        display: flex
        flex-direction: column
        align-items: center
        .input-container
            @include input($w: $input-width)
        button
            background-color: #37404d
            color: white
            width: $button-width
            height: 2.2rem
            border-radius: 1.1rem
            border-style: none
            transition: background-color 0.15s ease-in-out
            margin-top: 1rem
            font-family: 'Bellefair', serif
            cursor: pointer
            &:active
                background-color: rgb(51, 59, 69)
            &:hover
                background-color: $secondary-bg


    
=reset-password-mobile
    @media (max-width: $breakpoint-mobile + 0.99)
        @include reset-password($input-width: 17rem, $login-container-w: 100vw, $login-container-h: 100vh, $button-width: 10rem, $header-size-mult: 0.7)

=reset-password-tablet
    @media (min-width: $breakpoint-mobile + 1px) and (max-width: $breakpoint-tablet + 0.99)    
        @include reset-password($input-width: 16rem, $login-container-w: 22rem, $login-container-h: 15rem, $button-width: 14rem, $header-size-mult: 0.8)

=reset-password-laptop
    @media (min-width: $breakpoint-tablet+ 1px) and (max-width: $breakpoint-laptop + 0.99)
        @include reset-password($input-width: 16rem, $login-container-w: 22rem, $login-container-h: 15rem, $button-width: 14rem, $header-size-mult: 0.9)

=reset-password-desktop
    @media (min-width: $breakpoint-laptop + 1px )
        @include reset-password($input-width: 21rem, $login-container-w: 25rem, $login-container-h: 15rem, $button-width: 13rem, $header-size-mult: 1)
        

.reset-password-container
    background-color: #ffffff07
    padding-top: 1.5rem
    +reset-password-mobile
    +reset-password-tablet
    +reset-password-laptop
    +reset-password-desktop

    
    
    
    
    
    