.add-friend-section-container
    background-color: #1b1f275e
    margin-top: 0.3rem
    box-shadow: 1px 2px 1px 3px rgba(0, 0, 0, 0.4)
    position: relative
    width: fit-content
    .request-status
        position: absolute
        bottom: 100%
        font-family: 'Raleway', sans-serif
        font-size: 0.7rem
    .add-friend-form
        display: flex
        flex-direction: column
        padding: 0.7rem
        .add-friend-input-container
            padding: 0.2rem
            column-gap: 0.7rem
            label
                margin-right: 0.4rem
                font-family: 'Open Sans', sans-serif
                font-weight: bold
                font-size: 0.9rem
            input
                background-color: #141a22b7
                border: none
                border: 1px solid $white-line
                font-size: 1rem
                padding: 0.2rem 0.5rem
                border-radius: 0.2rem
            .displayName-input
                margin-right: 1rem
                width: 10rem
            .friendTag-input
                width: 6rem
            .add-friend-submit-button
                width: 10rem
                height: 2rem
                background-color: #293443b7
                font-size: 0.8rem
                font-family: 'Raleway', sans-serif
                font-weight: bold
                border: 1px solid transparent
                border-radius: 1.25rem
                transition: all 0.15s ease
                cursor: pointer
                margin-left: 2rem
                &:hover
                    background-color: #323f52b7