=friend-list-mobile
    @media (max-width: $breakpoint-tablet + 0.99)
        width: 100vw
        height: 100vh
        height: 100dvh
        display: flex
        flex-direction: column
        background-color: $primary-bg !important
        .friend-list-top-section
            padding: 0.3rem 0.8rem
            .friend-list-to-home-button
                background-color: transparent
                border: none
                display: flex
                justify-content: center
                align-items: center
            .friends-header
                display: none
            .friend-list-mob-top-section-container
                display: flex
                align-items: center
                justify-content: space-between
                .friend-list-mob-button
                    background-color: transparent
                    border: none
                    justify-content: center
                    align-items: center
                    display: flex
                .friends-header
                    color: $white-text
                    font-family: 'Open Sans', sans-serif
                    font-weight: bold
                    font-size: 1.1rem
                    flex-shrink: 0
                    height: 2rem
                    margin: 0.3rem 0
                    display: flex
                    align-items: center
        .friend-list
            .friend-container
                .friend-more-pop-up-container
                    .friend-pop-up-link
                        display: none
                .friend-link
                    display: none !important
                .friend-info-container-button
                    background-color: transparent
                    border: none
                    display: flex
                    justify-content: center
                    align-items: center
                    .friend-information
                        .friend-photo-status-container
                            .friend-photo
                                width: 2rem
                                height: 2rem
                                border-radius: 1rem
                                object-fit: cover
                            .friend-status
                                height: 0.9rem
                                width: 0.9rem
                                border-radius: 0.5rem
                                position: absolute
                                bottom: 0px
                                right: 1px
                                border: solid 3px $primary-bg
                        .user-displayName-status-container
                            display: flex
                            flex-direction: column
                            align-items: start
                            .friend-displayName
                                font-family: 'Raleway', sans-serif
                                font-size: 1rem
                            .friend-status-text
                                font-size: 0.6rem
                                font-family: 'Open Sans', sans-serif
                .friend-more-button
                    display: none
                .friend-more-pop-up-container
                    box-shadow: inset 2px 2px 4px 2px #0000006c
                    display: block
                    position: static
                    transform: none !important
                    height: 0
                    transition: all 0.15s ease-in-out
                    overflow: hidden
                    display: flex
                    justify-content: center
                    align-items: center
                    background-color: $modal-bg !important
                    &.pop-up-active
                        height: 2.2rem
                    .remove-friend-button
                        width: 100%
                        background-color: transparent
                        border: none
                        color: $error-message
                        font-size: 0.8rem
                        font-family: 'Open Sans', sans-serif
        .modal-window-container
            @include modal-container
            .unfriend-modal-container
                @include modal-mobile
                .unfriend-buttons-container
                    @include modal-button-container




=friend-list-desktop
    @media (min-width: $breakpoint-tablet + 1)
        width: 45rem
        display: flex
        flex-direction: column
        overflow-x: visible
        .friend-list-top-section
            padding: 0.3rem 
            .friend-list-mob-top-section-container
                display: none
            .friends-header
                color: $white-text
                font-family: 'Open Sans', sans-serif
                font-weight: bold
                font-size: 1.1rem
                flex-shrink: 0
                height: 2rem
                margin: 0.3rem 0
                display: flex
                align-items: center
        .friend-list
            .friend-link-container
                .friend-info-container-button
                    display: none !important
                .friend-link
                    .friend-information
                        .friend-photo-status-container
                            .friend-photo
                                width: 1.8rem
                                height: 1.8rem
                                object-fit: cover
                                border-radius: 1rem
                            .friend-status
                                height: 0.7rem
                                width: 0.7rem
                                border-radius: 0.35rem
                                position: absolute
                                bottom: 0px
                                right: 1px
                                border: solid 2px $primary-bg
                        .user-displayName-status-container
                            .friend-displayName
                                @media (max-width: calc($breakpoint-laptop*0.85))
                                    width: 4rem
                                    white-space: nowrap
                                    overflow: hidden
                                    text-overflow: ellipsis
                                font-family: 'Raleway', sans-serif
                                font-size: 1rem
                            .friend-status-text
                                font-size: 0.6rem
                                font-family: 'Open Sans', sans-serif
                .friend-more-pop-up-container
                    position: absolute
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: flex-start
                    background-color: #141a22b7
                    padding: 0.2rem
                    z-index: 1
                    width: 6.4rem
                    .friend-pop-up-link
                        color: $white-text
                        text-decoration: none
                        width: 100%
                        font-family: 'Open Sans', sans-serif
                        font-size: 0.7rem
                        padding: 0.2rem 0.5rem
                        &:hover
                            background-color: #2e3b4db7
                    .remove-friend-button
                        padding: 0.2rem 0.5rem
                        width: 100%
                        color: $error-message
                        background-color: transparent
                        border: none
                        font-family: 'Open Sans', sans-serif
                        font-size: 0.7rem
                        cursor: pointer
                        &:hover
                            color: $white-text
                            background-color: #b53737
        .modal-window-container
            @include modal-container
            .unfriend-modal-container
                @include modal($border-radius: 0.25rem)
                .unfriend-buttons-container
                    @include modal-button-container
.friend-list-container
    +friend-list-mobile
    +friend-list-desktop
    .friend-list-top-section
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5)
        .friend-list-search-input
            width: 100%
            border: none
            background-color: #141a22b7
            padding: 0.4rem 0.4rem
            font-family: 'Raleway', sans-serif
            font-size: 0.7rem
            color: $white-text
            border: 1px solid transparent
            border-radius: 0.2rem
            margin-bottom: 0.2rem
            &:focus
                outline: none
            &::placeholder
                font-size: 0.7rem
                font-family: 'Open Sans', sans-serif
    .friend-list
        display: flex
        flex-direction: column
        overflow-y: auto
        overflow-x: visible
        height: 100%
        width: 100%
        @include scroll($scroll-color: rgb(81, 84, 110), $w: 0.3rem)
        .friend-link-container, .friend-container
            width: 100%
            position: relative
            .friend-link, .friend-info-container-button
                padding: 0.6rem 0.5rem
                width: 100%
                display: flex
                text-decoration: none
                border-top: 1px solid #6073a723 
                &:hover
                    background-color: #6073a723 
                .friend-information
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-right: auto
                    .friend-photo-status-container
                        position: relative
                        height: fit-content
                        width: fit-content
                        margin-right: 0.4rem
                        display: flex
                        align-items: center
                    .user-displayName-status-container
                        display: flex
                        flex-direction: column
                        justify-content: center
            .friend-more-button
                margin-right: 0.5rem
                border: none
                height: 2rem
                width: 2rem
                border-radius: 1rem
                background-color: grey
                position: absolute
                right: 0%
                top: 50%
                transform: translateY(-50%)
                background-color: #1a2634
                transition: all 0.15s ease
                cursor: pointer
                &:hover
                    background-color: #28384c
                .friend-more-img-container
                    display: flex
                    justify-content: center
                    align-items: center
                    position: relative