@use '../variable' as variables
@use '../mixin' as mixins
    
=friend-connection-mobile
    @media (max-width: variables.$breakpoint-tablet)
        position: absolute
        height: 100vh
        height: 100dvh
        width: 100vw
        padding: 0.7rem 0.8rem
        background-color: variables.$primary-bg
        left: 100%
        top: 0%
        transition: left 0.25s ease-in-out
        display: flex
        flex-direction: column
        overflow: hidden
        &.friend-connection-container-active
            left: 0%
        .connections-to-friendlist-button
            height: fit-content
            width: fit-content
            display: flex
            justify-content: center
            align-items: center
            background-color: transparent
            border: none
        .add-friend-section
            display: none
        .pending-request-section
            display: none
        .friend-req-add-container
            padding: 1rem 1rem 5rem 1rem
            position: relative
            height: 100%
            width: 100%
            .add-friend-section
                display: block
            .pending-request-section
                display: block
        .connections-button-container
            width: 100%
            height: 3rem
            display: flex
            align-items: center
            justify-content: center
            button
                background-color: transparent
                border: none
                font-size: 0.8rem
                padding: 0.3rem 0.5rem
            .friend-request-button
                position: relative
                .request-indicator
                        position: absolute
                        width: 0.5rem
                        height: 0.5rem
                        border-radius: 0.25rem
                        top: -4px
                        right: 1px
                        background-color: variables.$error-message
                        font-size: 0.6rem
                        color: white
                        font-weight: 300  
    
        
=friend-connection-desktop
    @media (min-width: variables.$breakpoint-tablet + 1)
        flex: 1
        padding-top: 46.8px
        display: flex
        flex-direction: column
        height: 100vh
        padding-bottom: 10rem
        .friend-req-add-container
            height: 100%
        .connections-to-friendlist-button
            display: none
        .connections-button-container
            width: 100%
            border-radius: 4px
            display: flex
            height: 2rem
            column-gap: 1.2rem
            margin: 0.3rem 0 0.8rem 0
            align-items: center
            button
                background-color: transparent
                border: none
                font-size: 0.75rem
                padding: 0.3rem 0.5rem
                font-family: system-ui
                font-weight: 500
                cursor: pointer
            .friend-request-button 
                background-color: transparent
                border: none
                font-size: 0.75rem
                font-weight: 500
                font-family: system-ui
                position: relative
                cursor: pointer
                .request-indicator
                    position: absolute
                    width: 0.5rem
                    height: 0.5rem
                    border-radius: 0.25rem
                    top: -4px
                    right: 1px
                    background-color: variables.$error-message
                    font-size: 0.6rem
                    color: white
                    font-weight: 300

.friend-connection-container
    +friend-connection-mobile
    +friend-connection-desktop