=home-page-mobile
  @media (max-width: $breakpoint-tablet)
    position: relative
    width: 100vw
    height: 100vh
    height: 100dvh
    .modal-window-container
      @include modal-container
      .notice-modal-container
        @include modal-mobile
        .notice-modal-button-container
           @include modal-button-container

=home-page-desktop
  @media (min-width: $breakpoint-tablet + 1px )
    display: flex
    width: 100vw
    height: 100vh
    overflow-x: hidden
    .modal-window-container
      @include modal-container
      .notice-modal-container
        @include modal($border-radius: 0.25rem)
        .notice-modal-button-container
          @include modal-button-container

.homepage
  +home-page-mobile
  +home-page-desktop
  overflow: hidden