.left-home-section
    background-color: $primary-bg
    border-right: 1px solid rgba(142, 142, 142, 0.3)
    font-family: 'Open Sans', sans-serif
    width: 17rem
    flex-shrink: 0 //or min-width
    display: flex
    flex-direction: column
    height: 100vh
    max-height: 100vh
    .upper-left-section-container
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6)
        padding: 0 0.5rem
        height: 5.5rem
        flex-shrink: 0
        .logo-container
            height: 3.5rem
        .search-conversation-container
            display: flex
            align-content: center
            border-style: none
            justify-content: center
            background-color: rgba(37, 45, 55, 1)
            border-radius: 1rem
            padding: 0 0.45rem
            .search-conversation-input
                background-color: transparent
                border-radius: 0.35rem
                border-style: none
                color: $white-text
                padding-left: 1rem
                font-family: 'Open Sans', sans-serif
                font-size: 0.8rem
                height: 1.5rem
                width: 12.5rem
                &:focus
                    outline: none
                &::placeholder
                    font-size: 0.7rem
                    font-family: 'Open Sans', sans-serif
            .search-conversation-image
                height: 1.2rem
                width: 1.2rem
                align-self: center
    .channel-list-container
        height: 100%
        overflow-y: scroll
        &::-webkit-scrollbar
            width: 0.4rem
        &::-webkit-scrollbar-track
            background-color: rgb(36, 47, 67)
        &::-webkit-scrollbar-thumb
            background-color: rgb(81, 84, 110)
            border-radius: 0.2rem
            transition: background-color 0.3s ease-in-out
        .channel-links
            display: flex
            flex-direction: column
            overflow: auto
            padding: 0.5rem 0
            .channel-link-container
                .channel-link
                    text-decoration: none
                    display: flex
                    align-items: center
                    justify-content: flex-start
                    column-gap: 0.5rem
                    padding: 0.5rem
                    transition: background-color 0.25s ease-in-out
                    &:hover
                        background-color: rgb(52, 76, 100)
                    .channel-photo
                        width: 2.5rem
                        height: 2.5rem
                        object-fit: cover
                        border-radius: 1.25rem
                    .channel-name
                        font-family: 'Raleway', sans-serif
                        color: white
                        font-size: 1.1rem
    .user-info-container
        border-top: 1px solid $white-line
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1rem 0.5rem
        height: 5rem
        flex-shrink: 0
        flex-grow: 0
        .user-info
            display: flex
            flex-direction: row
            justify-content: start
            align-items: center             
            .user-info-photo
                width: 2.5rem
                height: 2.5rem
                object-fit: cover
                border-radius: 1.25rem
                margin-right: 0.5rem
            .user-info-text
                display: flex
                justify-content: center
                align-items: flex-start
                flex-direction: column
                .display-name-info
                    font-weight: bold
                    color: white
                .friend-tag-info
                    color: rgb(191, 191, 191)
                    font-size: 0.7rem

    .logout-button
        background-color: transparent
        color: white
        padding: 0.6rem
        border-radius: 2px
        background-color: $secondary-bg
        border: 1px solid transparent
        cursor: pointer
        transition: background-color 0.1s ease-in
        font-family: 'Bebas Neue', sans-serif
        &:hover
            background-color: $primary-bg
