@use './variable' as variables
    
@keyframes l3 
    20%
        background-position:0%   0%, 50%  50%,100%  50%
    40%
        background-position:0% 100%, 50%   0%,100%  50%
    60%
        background-position:0%  50%, 50% 100%,100%   0%
    80%
        background-position:0%  50%, 50%  50%,100% 100%


@mixin modal-container()
    width: 100%
    height: 100vh
    height: 100dvh
    background-color: rgba(0, 0, 0, 0.2)
    display: block
    z-index: 500 

@mixin modal-mobile()
    font-family: monospace !important
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    width: 90%
    height: fit-content
    background-color: variables.$modal-bg
    box-shadow: 3px 3px 3px 3px #0e0e0e6b
    padding: 1rem
    transition: all 0.2s ease-in-out
    border-radius: 10px
    &.visible
        top: 50%
    .modal-x-button-container
        display: flex
        justify-content: end
        align-items: center
        .modal-x-button
            background-color: transparent
            border: none
            padding: 0
            cursor: pointer
            &:hover > .x-img
                stroke-width: 2px
            .x-img
                transition: all 0.05s ease-in-out
    .modal-header
        margin: 0.5rem 0
        font-size: 1rem
    .modal-text 
        font-size: 0.8rem 

@mixin modal($border-radius)
    position: absolute
    top: 40%
    background-color: variables.$primary-bg
    padding: 1.5rem
    border-radius: $border-radius
    min-height: 10rem
    min-width: 25rem
    left: 50%
    transform: translate(-50%, -50%)
    font-family: monospace !important
    transition: all 0.15s ease-in
    &.visible
        top: 50%
    .modal-x-button-container
        display: flex
        justify-content: end
        align-items: center
        .modal-x-button
            background-color: transparent
            border: none
            padding: 0
            cursor: pointer
            &:hover > .x-img
                stroke-width: 2px
            .x-img
                transition: all 0.05s ease-in-out
    .modal-header
        margin: 0.5rem 0
        font-size: 1.2rem
        
@mixin modal-button-container
    display: flex
    justify-content: flex-end
    align-content: center
    margin-top: 1.5rem
    column-gap: 1rem
    .confirm-button
        border: none
        border: 1px solid rgb(180, 50, 50) 
        border-radius: 8px
        height: 2rem
        width: auto
        padding: 0.3rem 0.6rem
        font-size: 0.9rem
        font-weight: 300
        background-color: transparent
        transition: background-color 0.1s ease-in
        display: flex
        justify-content: center
        align-items: center
        .confirm-button-loading
            @include loading(0, 30px)
        &:hover
            background-color: rgb(180, 50, 50)
            cursor: pointer 
    .cancel-button
        border-radius: 8px
        border: none
        border: 1px solid variables.$white-text
        background-color: transparent
        padding: 0 0.6rem
        font-size: 0.9rem
        transition: background-color 0.1s ease-in, color 0.1s ease-in
        &:hover
            cursor: pointer
            background-color: variables.$white-text
            color: black
    &.s-modal-button-container
        position: relative
        .s-modal-err
            position: absolute
            color: variables.$error-message
            font-family: 'Open Sans', sans-serif
            font-size: 0.7rem
            left: 0
            top: 105%

@mixin scroll($scroll-color, $w)
    &::-webkit-scrollbar
        width: $w
    &::-webkit-scrollbar-thumb
        background-color: $scroll-color
        border-radius: 0.2rem
        transition: background-color 0.3s ease-in-out
        


@mixin loading($margin-r, $w)
    margin-right: $margin-r
    width: $w
    aspect-ratio: 2
    --_g: no-repeat radial-gradient(circle closest-side, #d8d8d8d4 90%, #fdfdfd00)
    background: var(--_g) 0%   50%, var(--_g) 50%  50%, var(--_g) 100% 50%
    background-size: calc(100%/3) 50%
    animation: l3 1s infinite linear


@mixin input($w)
    position: relative
    margin: 1.2rem 0
    width: $w
    .input-field
        font-size: 1rem
        width: 100%
        border: none
        border-bottom: 1px solid variables.$white-line
        padding: 5px 0
        background-color: transparent
        outline: none
        font-family: 'Open Sans', sans-serif
        &:focus ~ .input-label,
        &:not(:placeholder-shown) ~ .input-label
            top:-20px
            font-size: 16px
        &:focus ~ .input-highlight,
        &:not(:placeholder-shown) ~ .input-highlight
            transform: scaleX(1)
        &.input-field-error
            border-bottom-color: #c93a3a
    .input-label
        position: absolute
        top: 5px
        left: 0
        transition: all 0.3s ease
        pointer-events: none
        will-change: top, font-size
    .input-highlight
        position: absolute
        bottom: 0
        left: 0
        height: 2px
        width: 100%
        transform-origin: left
        background-color: variables.$secondary-bg
        transform: scaleX(0)
        transition: all 0.3s ease
        will-change: transform
    .input-error-message
        position: absolute
        top: 105%
        left: 0
        font-family: 'Raleway', sans-serif
        font-size: 0.7rem
        color: variables.$error-message
        @media (max-width: variables.$breakpoint-mobile)
            position: absolute
            top: 105%
            left: 0
            font-family: 'Raleway', sans-serif
            font-size: 0.6rem
            color: variables.$error-message
        
    .input-success-message
        position: absolute
        top: 105%
        left: 0
        font-family: 'Raleway', sans-serif
        font-size: 0.7rem
        color: #14d31eca
