//breakpoints
$breakpoint-mobile: 480.99px
$breakpoint-tablet: 768.99px
$breakpoint-laptop: 1024.99px
    
$primary-bg: #232933
$secondary-bg: #1f2834
$modal-bg: #1c2028
$white-text: #b9b9b9 
$white-line: rgba(142, 142, 142, 0.5)
$error-message: #c93a3a

