.right-home-section
    background-color: $secondary-bg
    width: 100%
    //members ---
    .channel-members-container
        width: 10rem
        background-color: transparent
        .member-list
            height: 100vh
            .member-container
                padding: 0.25rem 0
                .member-popup-button
                    background-color: transparent
                    border: none
                    width: 100%
                    display: flex
                    align-items: center
                    justify-content: space-between
                    .member-profile-photo
                        height: 2rem
                        width: 2rem
                        border-radius: 1rem
                        object-fit: cover
                    .member-name
                        color: white
                        font-size: 1rem
                        font-family: 'Bellefair', serif



