.friend-list-container
    width: 50%
    padding: 0.5rem
    .friend-list
        height: 100%
        .friend-link-container
            width: 100%
            padding: 0.4rem 0
            border-top: 1px solid $white-line
            .friend-link
                width: 100%
                display: flex
                text-decoration: none
                .friend-information
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-right: auto
                    .friend-photo-status-container
                        position: relative
                        height: fit-content
                        width: fit-content
                        margin-right: 0.4rem
                        .friend-photo
                            width: 1.7rem
                            height: 1.7rem
                            object-fit: cover
                            border-radius: 1rem
                        .friend-status
                            height: 0.7rem
                            width: 0.7rem
                            border-radius: 0.35rem
                            position: absolute
                            bottom: 4px
                            right: 1px
                            border: solid 2px $secondary-bg
                    

                    .user-displayName-status-container
                        display: flex
                        flex-direction: column
                        justify-content: center
                        .friend-displayName
                            font-family: 'Raleway', sans-serif
                        .friend-status
                            font-size: 0.6rem
                            font-family: 'Open Sans', sans-serif
                .unfriend-friend-button
                    border: none
                    background-color: transparent