*
    font-size: 18px
    box-sizing: border-box
    color: $white-text
    
body
    margin: 0
    padding: 0
    background-color: $primary-bg

ul 
    list-style-type: none
    padding: 0
    margin: 0

dialog
    border: none

input
    &:focus
        outline: none
    &::placeholder
        font-size: 0.7rem
        font-family: 'Open Sans', sans-serif