@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bellefair&family=Open+Sans:wght@500&display=swap');

:root{
    --primary-color:rgba(45, 55, 67, 1);
    --secondary-color: rgba(53, 64, 76, 1);
    --white-text: rgba(216, 216, 216, 1);
}

html{
    font-size:18px;
    box-sizing:content-box;
}

body{
    margin: 0;
    padding: 0;
}
