*
    font-size: 18px
    box-sizing: border-box
    color: $white-text

    
body
    margin: 0
    padding: 0
    background-color: $primary-bg
    font-family: 'Raleway', sans-serif
    position: relative
    
ul 
    list-style-type: none
    padding: 0
    margin: 0

dialog
    border: none

input
    &:focus
        outline: none

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active 
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s // Slow transition for background and text color
  -webkit-text-fill-color: $white-text !important // Set your preferred text color
  box-shadow: 0 0 0px 1000px transparent inset // 'Fakes' a transparent background



button
    background-color: transparent
    border: none