
.left-home-section{
    background-color: var(--primary-color);
    width: 20rem;
    height: 100vh;
    padding: 0 1rem;
    font-family: 'Open Sans', sans-serif;
}


.channel-list-container{
    background-color: rgb(161, 161, 161, 0.2);
    height: 80vh;
}
.channel-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 0;
}

.channel-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.user-info-container{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
}

.user-info-text{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}
.logout-button{
    background-color: transparent;
    color: var(--white-text);
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 2px;
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.logout-button:hover{
    background-color: var(--primary-color);
}

.display-name-info{
    font-weight: bold;
    color: var(--white-text);
}

.friend-tag-info{
    color: rgb(191, 191, 191);
    font-size: 0.7rem;
}