
.left-home-section{
    background-color: var(--primary-color);
    width: 20rem;
    height: 100vh;
}

.channel-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.channel-link{
    text-decoration: none;
    color: var(--white-text);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}