.not-found-container
    height: 100vh
    height: 100dvh
    width: 100%
    display: flex
    a, span
        font-weight: 300
        font-size: 1.2rem
    a
        color: rgb(54, 142, 200)
    @media (max-width: $breakpoint-mobile + 0.99)
        height: 100vh
        width: 100vw
        font-size: 2rem
        a, span
            font-weight: 300
        a
            color: rgb(54, 142, 200)
    justify-content: center
    align-items: center
    font-family: 'Open Sans', sans-serif
    font-weight: bold
    font-size: 4rem
    white-space: nowrap
    flex-direction: column