@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bellefair&display=swap');

:root{
    --primary-color:rgba(45, 55, 67, 1);
    --secondary-color: rgba(53, 64, 76, 1);
    --white-text: rgba(216, 216, 216, 1);
}

.register-page-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    background-color:var(--secondary-color);
    height: 30rem;
    width: 36rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.register-header{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    padding-top: 2rem;
    margin: 0;
}

.register-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form label{
    width: 100%;
    color: var(--white-text);
    font-family: 'Bellefair', serif;

}

.register-form input{
    width: 25rem;
    height: 2rem;
    background-color: rgba(37, 45, 55, 1);
    border-radius: 0.35rem;
    border-style: none;
    color: var(--white-text);
    padding-left: 1rem;
    margin-top: 0.125rem;
    margin-bottom: 0.75rem;
}

.register-form input:focus {
    outline: none;
}

.register-form input::placeholder{
    font-size: 0.7rem;
    font-family: 'Bellefair', serif;
}

.register-form button{
    background-color: rgba(67, 77, 89, 1);
    color: var(--white-text);
    width: 16rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    border-style: none;
    transition: background-color 0.15s ease-in-out;
    margin-top: 2.5rem;
    font-family: 'Bellefair', serif;
}

.register-form button:active{
    background-color: rgb(51, 59, 69);
}

.need-an-account-text{
    color: var(--white-text);
    font-size: 0.8rem;
    font-family: 'Bellefair', serif;
    margin-top: 0.35rem;
    display: block;
    text-align: center;
}

.register-link{
    text-decoration: none;
    color: rgb(9,105,171);
}

.register-link:hover{
    text-decoration: underline;
}

.already-have-an-account-text{
    color: var(--white-text);
    font-size: 0.8rem;
    font-family: 'Bellefair', serif;
    margin-top: 0.35rem;
    display: block;
    text-align: center;
}

.log-in-link{
    text-decoration: none;
    color: rgb(9,105,171);
}

.log-in-link:hover{
    text-decoration: underline;
}